html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  // font-family: $app-font;
  font-family: var(--app-font);
}

// margin && padding classes
$spacevalues: (0, 1, 2, 3, 4, 5);

@each $space in $spacevalues {
  .m-#{$space} {
    margin: #{$space} * rem(4);
  }
  .my-#{$space} {
    margin: #{$space} * rem(4) 0;
  }
  .mx-#{$space} {
    margin: 0 #{$space} * rem(4);
  }
  
  .p-#{$space} {
    padding: #{$space} * rem(4);
  }
  .py-#{$space} {
    padding: #{$space} * rem(4) 0;
  }
  .px-#{$space} {
    padding: 0 #{$space} * rem(4);
  }
}